*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: auto;
    background-image: url(background\ top.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}
header{
    display: flex;
    flex-direction: column;
   background: linear-gradient(to right, #01012b, #2d5fed);
}
.head{
    display: flex;
    flex-direction: row;
}
.logo{
    width: 140px;
    height: 100px;
    margin-top: 30px;
    margin-left: 80px;
}
.links{
    display: flex;
    flex-direction: row;
    gap:40px;
    color: white;
    list-style: none;
    font-size: 18px;
    margin-left: 100px;
    margin-top: 40px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.links li:hover{
    text-decoration: underline;
}
.login_button button{
    margin-top: 30px;
    font-size: 15px;
    background-color: white;
    padding: 10px;
    width: 80px;
    border: none;
    border-radius: 18px;
      cursor: pointer;
    color: black;
    margin-left: 100px;
}
.login_button button:hover{
    color: blue;
}
.main{
    display: flex;
    flex-direction: row;
background: linear-gradient(to right, #01012b, #2d5fed);


   

}
.main_left{
    margin-left: 150px;
    width: 700px;
    margin-top: 20px;
}
.main_left h1{
   font-size: 50px;
   font-weight: bolder ;
   color: white;
  
}
.main_left p{
    margin-left: 3px;
    margin-top: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    gap: 5px;
    text-align: left;
    font-size: 20px;
}
.main_right img{
    margin-top: -50px;
    height: 500px;
    width: 700px;
    margin-left: 100px;
}
.robot img{
   height: 150px;
   margin-left: 400px;
   margin-top: -170px;
   width: 150px;

}
.black_robo img{
    height: 50px;
    width: 50px;
    margin-top: -300px;
    margin-bottom: 45px;
    margin-left: 170px;
}
.tongue img{
    width: 110px;
    height: 40px;
    margin-top: -400px;
    margin-left: 430px;
    margin-bottom: 190px;
}
.container{
    z-index: 200;
}
.crown{
    background-image: url(crown.webp);
    background-repeat: no-repeat;
    height: 20px;
    margin-top: -60px;
    /* margin-bottom: 50px; */

    background-size: cover;
    z-index: 10;
}
.crown img{
    
    height: 120px;
    margin-left: 220px;
    
}
.amrood{
    background-image: url(crown.webp);
    background-repeat: no-repeat;
    height: 20px;
    background-size: cover;
    z-index: 10;
  
}
.amrood img{
    margin-bottom: -140px;
    height: 100px;
    width: 120px;
    margin-left: 10px;
    
}
.cup{
    background-image: url(crown.webp);
    background-repeat: no-repeat;
    height: 10px;
   
   

    background-size: cover;
    z-index: 10;
}
.cup img{
    height: 120px;
    margin-left: 550px;
    margin-top: -20px;
    
}
.onion{
    background-image: url(crown.webp);
    background-repeat: no-repeat;
    height: 10px;
    margin-bottom: 50px;

    background-size: cover;
    z-index: 10;
}
.onion img{
    margin-top: -170px;
    height: 60px;
    margin-left: 950px;

    opacity: 0.7;
}
.star{
    background-image: url(crown.webp);
    background-repeat: no-repeat;
    height: 20px;

    background-size: cover;
    z-index: 10;
}
.star img{
    height: 80px;
    margin-left: 1180px;
    margin-top: -50px;
   
}
.btns{
     margin-left: 300px;
     gap: 30px;
     margin-top: 50px;
}
.btns img{
    width: 100px;
    height: 80px;
    margin-left: 20px;
    margin-bottom: -15px;
}
.btn1{
    width: 250px;
    height: 32px;
    background-color:white;
    color:black;
    border: transparent;
    border-radius: 25px;
}
.btn2{
     width: 250px;
    height: 32px;
    background-color:#3f6ae0;
    color:white;
    border: transparent;
    border-radius: 25px;
    margin-left: 20px;
}
.div1{
    margin-left: 40px;
    margin-right: 40px;
    border: 3px solid white;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    background-color: #5d62f8;
    position: relative;
    z-index: 5;
   
}
.div1_left {
margin-left: 30px;
    border-radius: 30px;
   
}
.div1_left video{
   width: 670px;
    height: auto;
    margin: 10px;
    border-radius: 40px;
    margin-left: -13px;
    margin-top: 17px;
    
}
.div1_right{
    margin-top: 140px;
}
.div1_right h1{
    color: white;
    font-size: 50px;
    font-weight: bolder;
}
.div1_right  p{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}

.egg{
    position: relative;
    z-index:1;
}

.egg img{
    height: 250px;
    margin-top: -100px;

}


.div2{
    margin-left: 40px;
    margin-right: 40px;
    border: 3px solid white;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    background-color: #5d62f8;
    z-index: 1000;
}
.div2_right {

    border-radius: 30px;
   
}
.div2_right video{
   width: 670px;
    height: auto;
    margin: 10px;
    border-radius: 40px;
    margin-left: -13px;
    margin-top: 17px;
    
}
.div2_left{
    margin-top: 100px;
    margin-left: 50px;
}
.div2_left h1{
    color: white;
    font-size: 50px;
    font-weight: bolder;
}
.div2_left  p{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
.rect img{
    height: 200px;
    margin-left: 200px;
}
.div3{
    margin-left: 40px;
    margin-right: 85px;
    border: 3px solid white;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    background-color: #5d62f8;
    z-index: 1000;
    margin-top: -150px;
}
.div3_left {
margin-left: 30px;
    border-radius: 30px;
   
}
.div3_left video{
   width: 670px;
    height: auto;
    margin: 10px;
    border-radius: 40px;
    margin-left: -13px;
    margin-top: 17px;
    
}
.div3_right{
    margin-top: 140px;
}
.div3_right h1{
    color: white;
    font-size: 50px;
    font-weight: bolder;
}
.div3_right  p{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
.box img{
    height: 300px;
    width: 300px;
    margin-left: 980px;
    margin-top: -180px;
}


.marquee {
    width: 100%;
    height: 80px;
    overflow: hidden;
    white-space: nowrap;
    background-color: #3f6ae0;
    display: flex;
    align-items: center;
}

.marquee-content {
    display: flex;
    animation: scroll 30s linear infinite;
}

.marquee p {
    display: inline-block;
    font-size: 50px;
    color: white;
    margin: 0;
    padding-right: 50px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}


.bat img{
   height: 180px;
   margin-left: 900px;
}
.div4{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 80px;
    border: 3px solid white;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    background-color: #5d62f8;
    z-index: 1000;
}
.div4_right {

    border-radius: 30px;
   
}
.div4_right video{
   width: 670px;
    height: auto;
    margin: 10px;
    border-radius: 40px;
    margin-left: 50px;
    margin-top: 17px;
    
}
.div4_left{
    margin-top: 100px;
    margin-left: 50px;
}
.div4_left h1{
    color: white;
    font-size: 50px;
    font-weight: bolder;
}
.div4_left  p{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
.div5{
    margin-left: 40px;
    margin-right: 40px;
    border: 3px solid white;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    background-color: #5d62f8;
    z-index: 5;
  position: relative;  
   
}
.div5_left {
margin-left: 30px;
    border-radius: 30px;
   
}
.div5_left video{
   width: 670px;
    height: auto;
    margin: 10px;
    border-radius: 40px;
    margin-left: -13px;
    margin-top: 17px;
    
}
.div5_right{
    margin-top: 140px;
}
.div5_right h1{
    color: white;
    font-size: 50px;
    font-weight: bolder;
}
.div5_right  p{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
.ring img{
    height: 150px;
    margin-left: 200px;
}

.couple{
    z-index: -1
}

.couple img {
     margin-bottom: -220px;
    margin-left: 1000px;
    width: 200px;
    height: 350px;
  
}
.women img{
    width: 200px;
    height: 150px;
    margin-left: 800px;
    margin-top: -100px;
    margin-bottom: -25px;
    z-index: 999;
    position: relative;
}
.div6{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 80px;
    border: 3px solid white;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    background-color: #5d62f8;
    z-index: 1000;
}
.div6_right {

    border-radius: 30px;
   
}
.div6_right video{
   width: 670px;
    height: auto;
    margin: 10px;
    border-radius: 40px;
    margin-left: 50px;
    margin-top: 17px;
    
}
.div6_left{
    margin-top: 100px;
    margin-left: 50px;
}
.div6_left h1{
    color: white;
    font-size: 50px;
    font-weight: bolder;
}
.div6_left  p{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
.main_h1{
    font-size: 50px;
    text-align: center;
    color: white;
    word-spacing: 10px;
    margin-top: 20px;
}
.download{
     width: 300px;
     font-size: 15px;
     text-align: center;
     justify-content: center;
    height: 38px;
    background-color:#2658e2;
    margin-top: 50px;
    color:white;
    border: transparent;
    border-radius: 25px;
    margin-left: 500px;
    cursor: pointer;
}
.download:hover{
    background-color: transparent;
}
.line{
    width: 100%;
    margin-top: 50px;
}
.blue img{
    margin-left: 450px;
    margin-top: -200px;
    margin-bottom: 19px;
}
.line_robot img{
   height: 100px;
   margin-top: -600px;
   margin-bottom: 230px;
   margin-left: 950px;
}
footer{
    width: 100%;
    height: auto;
    background-color: #464189;
    display: flex;
    flex-direction: row;
    gap: 100px;
    padding-top: 50px;
    margin-top: -40px;
    padding-bottom: 50px;
}
.footer1{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.flag{
    display: flex;
    flex-direction: row;
}
.flag img {
    width: 60px;
    height: 40px;
}
.flag p{
    text-decoration: underline;
    margin-top: 10px;
    margin-left: 10px;
}
.social-media{
    margin-top: 30px;
    gap: 30px;
}
.social-media i {
    margin-left: 10px;
}

.footer2 h1{
    color:white;

}
.footer2 p{
    color: white;
    margin-top: 10px;
}
.footer3 h1{
    color:white;

}
.footer3 p{
    color: white;
    margin-top: 10px;
}
.footer4 h1{
    color:white;

}
.footer4 p{
    color: white;
    margin-top: 10px;
}
.footer5 h1{
    color:white;

}
.footer5 p{
    color: white;
    margin-top: 10px;
}
.end{
    background-color: #464189 ;
    display: flex;
    flex-direction: row;
}
.end img{
    width: 150px;
    height: 80px;
    margin-left: 100px;
}
.end button{
    width: 100px;
    height: 30px;
    color: black;
    background-color: white;
    border: transparent;
    border-radius: 20px;
margin-top: 30px;
margin-left: 900px;}
hr{
    width: 800px;
}