*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    background-color: black;
}
.logo{
    margin: 16px;
    margin-left: 80px;
}
.logo img{
    height: 70px;
}
.all_li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-left: 150px;
}

li{
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

}
li:hover{
    color: yellow;
}
.btn1{
    width: 140px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 15px ;
    color: white;
    padding: 12px;
    cursor: pointer;
}
.btn1:hover{
    background-color: white;
    color: black;

}
.btn2{
    width: 140px;
     background-color: red;
    border: 1px solid red;
    border-radius: 25px;
    font-size: 15px ;
    color: white;
    padding: 12px;
    cursor: pointer;
}
.btn2:hover{
    background-color: rgb(216, 63, 63);

}
.main_image{
    height: 520px;
    background-size: cover;
    background-image: url("2.webp");
    }
.brands{
    height: 400px;
    background-color: black;
    text-align: center;
}
.heading h1 {
    color: white;
    font-family: Arial;
}
.heading h1 span{
    font-family: cursive;
    font-weight: bold;
    font-size: 42px;
}
.heading p{
    color: white;
    margin-top: 50px;
    font-size: larger;
}
.images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
}
.img{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.bt{
    border-radius: 40px;
    background-color: transparent;
    color: white;
}
.franchises{
    background-color: rgb(27, 27, 27);
    color: white;
    text-align: center;
    display: flexbox;
    flex-direction: column;
}
.franchises h1{
    font-family: cursive;
    font-size: 40px;
}
.franchises h1 span{
    font-family: Arial;

}
.franchises p{
    font-size: 20px;
}

.plots{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.left{
    width: 800px;
   
}
.right{
     width: 800px;
   

}
.left p{
    color:red;
    text-align: left;
      margin-left: 20px;
      

}
.p1{
    font-size: 30px;
    color: red;
    font-size: 30px;
}
.h1{
    font-family: cursive;
    text-align: left;
 

}
.left h1{
    font-family: cursive;
    text-align: left;
      margin-left: 20px;

}
.left h1 span{
    font-size: 30px;
}
.details{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    color: white;
}
.para p{
    text-align: left;
    color: white;
    margin-top: 10px;
    
 
}
.im img{
    margin-top: 10px;
}
.Get-direction{
    width: 140px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 20px ;
    color: white;
    padding: 12px;
    cursor: pointer;
    margin-top: 60px;
}
.express-franchises{
    background-color: black;
    padding-bottom: 40px;
   
}
.express-franchises h1{
     text-align: center;
    font-family: cursive;
    font-size: 40px;
    color: white;
}
.express-franchises h1 span{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
}
.uppar{
    display: grid;
    grid-template-columns: repeat(3,350px);

    background-image: url(E\ \(2\).webp);
    background-position: left;
    background-repeat: no-repeat;
  
    gap: 50px;
    margin-top:30px ;
    margin-left: 70px;


}

.express{
    margin-top: 50px;
}
.uppar img{
    height: 250px;
    border-radius: 10px;

}

.express h2 {
    color: white;
    margin-top: 20px;
    font-size: 25px;
}
.express p{
    color: white;
    gap: 10px;
    font-size: 15px;
    font-family:Arial ;
}
.express h3 {
    color: red;
    margin-top: 20px;
    font-size: 30px;
}
.Get{
     width: 140px;
     height: 50px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 18px ;
    color: white;
    padding: 12px;
    cursor: pointer;
    margin-top: 60px;
}
.lower{
     display: grid;
    grid-template-columns: repeat(3,350px);

    background-image: url(C.webp);
    background-position: right;
    background-repeat: no-repeat;
  
    gap: 50px;
    margin-top:30px ;
    margin-left: 70px;

}
.lower img{
    height: 250px;
    border-radius: 10px;

}
.village-franchise{
    background-color: rgb(32, 32, 32);
  
}
.village-franchise h1{
    font-family: cursive;
    font-size: 40px;
    color: white;
    text-align: center;
 padding-top: 40px;
}
.village-franchise h1 span{
    font-family: arial;
    font-size: 30px;
}
.vlg{
     display: flex;
    flex-direction: row;
    margin-top: 30px;

}
.text{
    margin-left: 30px;
    margin-top: 30px;
}
.text h2 {
    color: white;
    margin-top: 10px;
    font-size: 28px;
}
.text p {
    color: white;
     margin-top: 10px;
}
.text h3{
    color: red;
    font-size: 24;
}
.village-pic img{
    height: 350px;
    margin-left: 90px;
    border-radius: 10px;
}
.opening_soon{
    background-color: black;
    text-align: center;
}
.opening_soon h1{
    font-family: cursive;
    font-size: 40px;
    color: white;
}
.opening_soon h1 span{
    font-family: Arial;
    font-size: 30px;
    color: white;
}
.open{
    display: grid;
     grid-template-columns: repeat(3,350px);
    background-color: black;
    gap: 30px;
    margin: 20px;
    margin-left: 90px;
    margin-top: 30px;
    height: 800px;
    margin-bottom: 0;



}
.open_branch{
    background-color: white;
    padding: 30px;
       border-radius: 20px;
}
.open_branch img{
    height: 50px;
}
.open_branch p{
    color: red;
    font-size: 20px;
}
.open_branch h4{
    color: black;
    font-family: cursive;
    font-size: 20px;
}
.open_branch h5{
    color: black;
}
.social_feeds{

    background-color: black;
    color: white;
    gap: 20px;
}
.social_feeds h1{
    text-align: center;
    font-size: 60px;
    padding-top: 40px;
}
.social_feeds img{
    height: 250px;
     gap: 20px;
     margin-left: 5px;
     border-radius: 10px;
     margin-top: 20px;
}
footer{
    display: flex;
    flex-direction: row;
    margin-top: 0;
 background-color: rgb(65, 63, 63);  
 color: white;
 background-image: url(F.webp);
 background-position: bottom left;
 background-repeat: no-repeat;
}

.sec-1{

width: 1000px;
text-align: center;
height: 800px;
justify-content: center;

margin-top: 100px;
font-size: 18px;

}
.sec-1 img{
    height: 80px;
    text-align: center;
    margin-top: 80px;
}
.sec-1 h5{
    margin-top: 20px;
}
.sec-2{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 400px;
 
    gap: 20px;

}
.sec-2 h2{
    color: white;
     margin-top: 80px ;
     text-align: center;
}
.sec-2 p{
    color: white;
    text-align: center;
    gap: 30px;
}
.sec-3{
    width: 800px;
      margin-top: 100px;
      text-align: center;
}
.sec-3 h1{
    color: white;
       margin-top: 80px ;
}
.sec-3 h3{
    color: white;
    margin-top: 20px;
}
.sec-3 p{
    color: white;
    margin-top: 20px;
}
.sec-4{
    width: 800px;
        margin-top: 69px;

}
.sec-4 h1{
    color: white;
     margin-top: 80px ;
     text-align: center;
     gap: 30px;
     width:300px


}
.fb{
    display: flex;
    flex-direction: row;
    gap: 20px;

}
.fb button{
    background-color: red;
    border-radius: 50px;
    padding: 10px;
    border: none;
   
    

}
.btn{
    align-items: center;
    justify-content: center; 
    display: flex; 
     
}
.fb button img{
    height: 30px;
}
.google{
   margin-top: 30px;
   margin-left: 100px;
}
hr{
 
   background-color:rgb(65, 63, 63);  
    border: none;          
  height: 2px;           
  background-color: white;
  width: 100%;         
  margin: 20px 0;     
}
.the-end{

    color: white;
    text-align: center;
    font-size: 20px;
}